<!DOCTYPE html>
<html>
<head>
  <title>Student Management</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">

    <div class="form-container">    
      <h3>Add Student</h3>
      <form id="addStudentForm">
        <label for="addName">Name:</label>
        <input type="text" id="addName" name="name">
        <br>
        <label for="addEmail">Email:</label>
        <input type="email" id="addEmail" name="email">
        <br>
        <button type="button" id="addStudentButton">Add Student</button>
      </form>
    </div>
    
    <div class="form-container">    
      <h3>Update Student</h3>
      <form id="updateStudentForm">
        <label for="id">ID:</label>
        <input type="number" id="id" name="id">
        <br>
        <label for="updateName">Name:</label>
        <input type="text" id="updateName" name="name">
        <br>
        <label for="updateEmail">Email:</label>
        <input type="email" id="updateEmail" name="email">
        <br>
        <button type="button" id="updateStudentButton">Update Student</button>
      </form>
    </div>
    
    <div class="form-container">    
      <h3>Delete Student</h3>
      <form id="deleteStudentForm">
        <label for="deleteName">Name:</label>
        <input type="text" id="deleteName" name="name">
        <br>
        <button type="button" id="deleteStudentButton">Delete Student</button>
      </form>
    </div>
    
    <div class="list-container">    
      <h3>Student List</h3>
      <h4> Student ID | Student Name | Student Email</h4>
      <ul id="studentList"></ul>
    </div>

    <script src="scripts.js"></script>
  </div>
  
</body>
</html>
